{% extends 'base.html' %}
  {% load static %}
  {% load widget_tweaks %}
      {% block content %}
        <div id="del">
          <h1>my Crud</h1>

          <ul>
            <!--update tasks-->
            {{task.activity}} - {{task.location}}
          </ul>
          
          <form method="post">
            {%csrf_token%}
          <p>{% render_field forms.activity placeholder=task.activity  %}</p>
          <p>{% render_field forms.location placeholder=task.location  %}</p>
          <br>
          <button class='btn_update' type="submit" style="width: 18.5%;
                height: 40px;
                border: 1px solid #dcdce6;
                border-radius: 8px;
                background-color: #abb22b;
                color: #fff;
                cursor: pointer; ;">Update</button>
          </form>
          <p>Update your task</p>
        </div>
      
      {% endblock content %}