{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giiid</title>
    <link rel="stylesheet" href="{% static 'crud-style.css' %}">
</head>
<body>
    <body>
        <div id="del">
            <h2>Are you sure you want to delete {{task.activity}}?🥺</h2> <br>
            <form method="POST"> {%csrf_token%}
                <button class='btn_delete' type="submit">Delete</button>
            </form>
        </div>
    </body>
</body>
</html>
