{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giiid</title>
    <link rel="stylesheet" href="{% static 'crud-style.css' %}">
</head>
<body>
    <body>

        <div id="del">
          <h1>my Crud</h1>

        
          <ul>
            <!--update tasks-->
            {{task.activity}}<p></p>
            {{task.location}}

          </ul>
          
            <a href="{% url 'home' %}">
          <button class='btn_update' type="submit" style="width: 18.5%;
                height: 40px;
                border: 1px solid #dcdce6;
                border-radius: 8px;
                background-color: #c3411d;
                color: #fff;
                cursor: pointer; ;">Home</button>
            </a>
          <p>Your task</p>
        </div>
      
      </body>
</body>
</html>