{% extends 'layout.html' %}
  {% load static %}
    {% block content %}

      <h1>my Crud</h1>
        <!-- <div class="search-box"> -->
        <p>This is a To-Do web application where a user can add their tasks, update, <br>and delete
          them when they are done.
        </p><p></p>

        <h4 style="color: #335c62;">
          <a href="{% url 'login' %}">Login</a>
        <h4>
          Don't have an account? <a href="{% url 'signup' %}" style="color: #335c62;">Sign Up here</a>
        </h4>
    {% endblock content %}
