{% extends 'layout.html' %}
    {% load static %}
    {% load widget_tweaks %}
        {% block content %}
        <h1>Log In</h1>

        {% load socialaccount %}
        <a href="{% provider_login_url 'google' %}?next={{request.path}}">
            <h4>Login with Google</h4>
        </a>

        <p>
            Don't have an account? <a href="{% url 'signup' %}" style="color: #335c62;">Sign Up</a>
        </p>
        <div>
            <form method="post" action="">{%csrf_token%}

                <input type="text" placeholder="Username" name="username" required><br><br>
                <input type="text" placeholder="Password" name="password" required>

                <!-- {% render_field forms.username placeholder='Username' %}
                {% render_field forms.password1 placeholder='Password' %} -->
                
                <button class='btn_add' type="submit">Log In</button>
            </form>
        </div>
        {% endblock content %}