{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giiid</title>
    <link rel="stylesheet" href="{% static 'crud-style.css' %}">
</head>
<body>
    <body>
      
      <!--searched tasks-->
        <h1>You searched for...</h1>
          {% for task in searched_tasks %}
              <h3><a href="{% url 'detail' task.activity %}">{{task.activity}}</a></h3>  
          {% endfor %}

        <!-- <h1>There are no search</h1> -->

      </body>
</body>
</html>